* {
    margin: 0;
    padding: 0;
}

.menu {
    height: 110px;
    width: 100%;
    background-color: royalblue;
    display: flex;
    justify-content: left;
    align-items: center;
}

.mainbutton {
    font-weight: bold;
    color: white;
    background-color: royalblue;
    font-size: 30px;
    margin: 30px;
    border: none;
    font-family: "Arial Black";
}

.name1 {
    margin: 24px;
    background-color: royalblue;
    color: white;
    border: none;
    font-size: 20px;
    font-family: Calibri;
    margin-left: 200px;
}

.name {
    margin: 24px;
    background-color: royalblue;
    color: white;
    border: none;
    font-size: 20px;
    font-family: Calibri;
}


.mainbutton:visited, .mainbutton:link {
    text-decoration: none;
}

.mainbutton:hover, .mainbutton:active {
    text-decoration: underline;
}

.name1:visited, .mainbutton:link {
    text-decoration: none;
}

.name1:hover, .mainbutton:active {
    text-decoration: underline;
}

.name:visited, .mainbutton:link {
    text-decoration: none;
}

.name:hover, .mainbutton:active {
    text-decoration: underline;
}

.image1 img {
    height: 60px;
    width: 60px;
    margin-left: 150px;
}



